<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Pluto Games</title>
</head>
<body class="bg-gray-800 text-white">
    <div class="h-screen flex justify-center items-center">
        <div class="bg-gray-700 dark:bg-gray-900 text-white p-8 rounded-lg shadow-lg transform hover:scale-105 transition duration-300">
            <h1 class="text-3xl text-center font-extrabold mb-4 inline-block text-transparent bg-clip-text bg-gradient-to-r from-orange-500 to-orange-300">Pluto Games</h1>
            <div class="flex justify-center space-x-4">
                <a href="#" class="group flex items-center p-2 rounded-full inline-block text-transparent bg-clip-text bg-gradient-to-r from-orange-500 to-orange-300 hover:from-orange-300 hover:to-orange-500 transition duration-300">
                    <i class="fas fa-home text-3xl group-hover:text-orange-600"></i>
                </a>
              <div class="flex justify-center space-x-4">
                <a href="#" class="group flex items-center p-2 rounded-full inline-block text-transparent bg-clip-text bg-gradient-to-r from-orange-500 to-orange-300 hover:from-orange-300 hover:to-orange-500 transition duration-300">
                    <i class="fas fa-search text-3xl  group-hover:text-orange-600"></i>
                </a>
                <div class="flex justify-center space-x-4">
                  <a href="#" class="group flex items-center p-2 rounded-full inline-block text-transparent bg-clip-text bg-gradient-to-r from-orange-500 to-orange-300 hover:from-orange-300 hover:to-orange-500 transition duration-300">
                    <i class="fas fa-gamepad text-3xl  group-hover:text-orange-600"></i>
                </a>
                  <div class="flex justify-center space-x-4">
                    <a href="#" class="group flex items-center p-2 rounded-full inline-block text-transparent bg-clip-text bg-gradient-to-r from-orange-500 to-orange-300 hover:from-orange-300 hover:to-orange-500 transition duration-300">
                    <i class="fas fa-bell text-3xl  group-hover:text-orange-600"></i>
                </a>
                    <div class="flex justify-center space-x-4">
                      <a href="#" class="group flex items-center p-2 rounded-full inline-block text-transparent bg-clip-text bg-gradient-to-r from-orange-500 to-orange-300 hover:from-orange-300 hover:to-orange-500 transition duration-300">
                    <i class="fas fa-cog text-3xl  group-hover:text-orange-600"></i>
                </a>
            </div>
        </div>
    </div>
</body>
</html>